.title{
    text-align: center;
}
.first{
    border:3px solid black;
    text-align: center;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}
.second{
    border:3px solid black;
    text-align: center;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}
.third{
    border:3px solid black;
    text-align: center;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}
.fourth{
    border:3px solid black;
    text-align: center;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}
.fifth{
    border:3px solid black;
    text-align: center;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}
.sixth{
    border:3px solid black;
    text-align: center;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}
.seventh{
    border:3px solid black;
    text-align: center;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}
